<!DOCTYPE html>
<html>
<head>
	<title>Indentity Verification</title>
</head>
<body>
	<h1>Regiter Yourself Here</h1>
	<form action="/register" method="post" enctype="multipart/form-data">
		<label for="image_file">Select your registration File</label><br>
		<input type="file" id="image_file" name="image_file"><br>
        <input type="text" name="User_name" placeholder="Name Of the User" required="required" /><br>
		<input type="submit" value="Upload">
	</form>
	<h1>Get your Verification Status Here</h1>
	<form action="/verify" method="post" enctype="multipart/form-data">
		<label for="image_file1">Select your Verification file</label><br>
		<input type="file" id="image_file1" name="image_file1"><br>
		<input type="submit" value="Upload">
	</form>
</body>
</html>
